
pytest 8.3.4 --  для написания тестов и создавать для них окружение, а также настраивать параметры запуска
selenium 4.27.1 -- для автоматизации тестирования веб-приложений
urllib3 2.3.0 -- для выполнения HTTP-запросов
